/* CSS styling for H1 tag */
h1 {
    background-color: brown;/* Change the background color of h1 tag to brown */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-left: 20%;
    border-right: 20%;
    border-top: 20%;
    border-bottom: 20%;
    border-color: azure;
    border-style: solid;
    border-radius:25px;
}
body {
    text-align: center;
    background-color:bisque;
}
ul {
    display: table;
    margin: 0 auto;
    }
img {
    border-radius: 20px;
}